
html, body {
    font-family: $font-sansserif;
    line-height: 1.52;
    @include t-mobile {
        font-size: 15px;
    }
    @include mobile-small {
        font-size: 15px;
    }
    @include desktop2 {
        font-size: 20px;
    }
    
}
html, body, input, a, button {
    color: $color-gray-100;
}

strong {
    font-weight: 500;
}

pre {
    font-family: $font-sansserif;
    line-height: 1.87;
}

img {
    vertical-align: top;
}

.blind {
    @include blind;
}

.font-serif {
    font-family: $font-serif;
}
