@charset "utf-8";

@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    local('Noto Serif KR'), local('NotoSerifKR-ExtraLight'),
    url("../fonts/NotoSerifKR-ExtraLight.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Noto Serif KR'), local('NotoSerifKR-Light'),
    url("../fonts/NotoSerifKR-Light.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-Light.woff") format("woff");
}

@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Noto Serif KR'), local('NotoSerifKR-Regular'),
    url("../fonts/NotoSerifKR-Regular.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-Regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Noto Serif KR'), local('NotoSerifKR-Medium'),
    url("../fonts/NotoSerifKR-Medium.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-Medium.woff") format("woff");
}

@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Noto Serif KR'), local('NotoSerifKR-Bold'),
    url("../fonts/NotoSerifKR-Bold.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-Bold.woff") format("woff");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/Jost-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/Jost-VariableFont_wght.woff") format("woff");
}