.wrap {
    min-height: $vh100;
    box-sizing: border-box;
    &.overlay {
        overflow: hidden;
        height: $vh100;
    }
    // @include t-mobile {
    //     padding: {
    //         top: 60px;
    //     }
    // }
    @include desktop2 {
        background: $color-gray-000;
        .container {

        }
    }
}
.inner {
    box-sizing: border-box;
}

.header {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        box-sizing: border-box;
    }
    .menu {
        .active a, .router-link-exact-active {
            opacity: 1;
        }
    }
    .link {
        display: inline-flex;
        @include t-mobile {
            margin-top: 10px;
            li + li {
                margin-left: 20px;
            }
            height: 80px;
        }
        li {
            a:hover {
                background: $color-gray-200;
            }
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: $color-bk;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }
    // header
    @include t-mobile {
        transition: opacity .35s;
        .down-scroll & {
            opacity: 0;
            visibility: hidden;
            // transition: opacity .35s;
        }
        .up-scroll &, & {
            opacity: 1;
            visibility: visible;
        }
        &.scrolled {
            background: rgba(255,255,255,0.9);
            transition: background .35s;
        }
        &-inner {
            z-index: 50;
            position: relative;
            padding: 0 20px 24px 24px;
            height: 130px;
            box-sizing: border-box;
        }
        h1.logo {
            position: absolute;
            left: 80px;
            right: 80px;
            flex: 1;
            text-align: center;
            img {
                width: 96px;
                height: 75px;
            }
        }
        .btn-normal {
            width: 60px;
        }
        .nav {
            z-index: 49;
            overflow: hidden;
            // position: fixed;
            // top: 60px;
            // left: 0;
            // right: 0;
            // max-height: 0;
            // transition: max-height 0.25s;
            width: 36px;
            &-header {
                display: flex;
                align-items: flex-end;
                padding: 0;
                height: 34px;
                box-sizing: border-box;
                .logo {
                    opacity: 0;
                    visibility: hidden;
                    flex: 1;
                    margin-left: -40px;
                    text-align: center;
                    img {
                        opacity: 0.5;
                        width: 96px;
                        height: 75px;
                        filter: brightness(0) invert(1);
                    }
                }
            }
            &-inner {
                opacity: 0;
                height: 0;
            }

            &.active {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100vw;
                height: $vh100;
                background: $color-gray-100;
                transition: background 0.3s;
                .nav-header {
                    padding: 0 20px 24px 24px;
                    height: 130px;
                    .logo {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .nav-inner {
                    overflow: auto;
                    opacity: 1;
                    height: calc($vh100 - 130px);
                }
            }
        }
        .spread {
            padding: 15px 0 25px;
            width: 100%;
            @include font-size-mo(28);
            line-height: 1.5;
            text-align: center;
            li {
                margin-top: 24px;
            }
            a {
                opacity: 0.5;
                display: inline-block;
                padding: 0 10px;
                color: $color-wh;
                line-height: 40px;
            }
            .divide {
                &::before {
                    content: "";
                    display: block;
                    margin: 32px auto;
                    width: 140px;
                    height: 1px;
                    background: $color-gray-300;
                }
            }
        }
    }
    @include tablet {
        &-inner, .nav.active .nav-header {
            margin: 0 auto;
            max-width: calc(770px + 44px);
        }
    }
    // header
    @include desktop2 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        flex: 0 0 auto;
        width: 180px;
        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: {
                top: 124px;
                bottom: 100px;
            }
            padding-bottom: 100px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        h1.logo {
            position: absolute;
            top: 40px;
            left: 32px;
            width: 100%;
            img {
                width: 78px;
                filter: brightness(0) invert(1);
            }
        }
        .nav {
            display: flex;
            align-items: center;
            flex: 1;
            width: 100%;
            a {
                display: block;
                padding-left: 32px;
                width: 100%;
                opacity: 0.5;
                font-size: 18px;
                color: $color-wh;
                line-height: 1.78;
                box-sizing: border-box;
                transition: opacity 0.35s;
                &:hover {
                    opacity: 0.75;
                }
            }
            .active {
                a {
                    opacity: 1;
                }
            }
            .divide {
                margin-top: 40px;
            }
            li {
                & + li {
                    margin-top: 20px;
                }
            }
        }
        .btn-normal {
            padding: 0 32px;
            width: 100%;
            color: $color-gray-400;
            text-align: left;
            border: none;
            &:hover {
                color: rgba($color-wh, 0.75);
            }
        }
    }
}

.contents {
    @include desktop2 {
        padding-left: 102px;
    }

    .p-sub:not(.p-history, .p-membership, .p-book) & {
        @include t-mobile {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 87px;
                background-image: linear-gradient(to bottom, rgba(27, 28, 28, 0) 0%, $color-gray-100 100%);
            }
        }
    }
}

.footer {
    color: $color-wh;
    background: $color-gray-100;
    a {
        color: $color-wh;
    }
    &-logo {
        color: $color-gray-300;
    }
    .details {
        line-height: 1.64;
        dt {
            color: $color-gray-400;
        }
    }
    .copyright {
        color: $color-gray-300;
    }

    @include t-mobile {
        padding: 24px 20px;
        font-size: 12px;
        &-inner {
            margin-top: 18px;
            border-top: 1px solid $color-gray-200;
        }
        &-logo {
            margin-top: 22px;
            font-size: 16px;
        }
        .details {
            dt {
                margin-top: 12px;
                font-size: 12px;
            }
            dd {
                margin-top: 2px;
            }
        }
        .copyright {
            margin-top: 24px;
        }
    }
    @include tablet {
        &-wrap {
            margin: 0 auto;
            padding: {
                left: 0;
                right: 0;
            }
            max-width: 770px;
        }
    }
    @include desktop2 {
        &-wrap {
            position: relative;
            margin: 0 auto;
            padding: 24px 0;
            max-width: 970px;
        }
        .btn-top {
            position: absolute;
            top: 24px;
            right: 0;
        }
        &-inner {
            display: flex;
        }
        font-size: 14px;
        .details {
            dl {
               display: flex;
               gap: 40px;
               margin-left: 80px;
            }
            .copyright {
                margin: 16px 0 0 80px;
            }
        }
        &-logo {
            img {
                width: 77px;
                filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(92%) contrast(88%);
            }
        }
    }
}

@include t-mobile {
    // .MO-IB {
    //     display: inline-block;
    // }
    // .MO-B {
    //     display: block;
    // }
    .PC-B, .PC-IB {
        display: none;
    }
    img {
        max-width: 100%;
    }
}

@include mobile {
    .OMO-B {
        display: block;
    }
    .MO-IB {
        display: inline-block;
    }
    .MO-B {
        display: block;
    }
    .PC-B, .PC-IB, .TA-IB, .TA-B {
        display: none !important;
    }
}

@include tablet {
    .TA-IB {
        display: inline-block;
    }
    .TA-B {
        display: block;
    }
    .OMO-B {
        display: none;
    }
}

@include desktop2 {
    .PC-IB {
        display: inline-block;
    }
    .PC-B {
        display: block;
    }
    .OMO-B, .MO-B, .MO-IB, .TA-IB, .TA-B {
        display: none !important;
    }
}