.section {
    .description {
        @extend .font-serif;
        font-weight: 300;
        a {
            color: inherit;
        }
    }
    // @include t-mobile {
        &-inner {
            padding: 52px 0 0;
        }
        .content {
            padding: 0 30px;
            & + .image-list {
                margin-top: 32px;
            }
        }
        &-title {
            line-height: 1;
            & > span {
                display: block;
            }
            span {
                font-size: 40px;
                // color: $color-gray-300;
            }
        }
        .description {
            margin-top: 32px;
            .head-desc {
                font-size: 18px;
                & + p {
                    margin-top: 16px;
                }
            }
            p:not(.head-desc) {
                font-size: 14px;
                color: $color-gray-300;
                font-weight: 300;
            }
        }
        .content, .history-list, .benefit-list {
            padding: 0 30px;
        }
        .image-list, .history-list, .benefit-list {
            
        }
        .image-list {
            .one {
                display: flex;
                flex-wrap: wrap;
            }
        }

    &-visual {
        .video-wrapper {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: $vh100;
            video {
                // opacity: 0;
                // visibility: hidden;
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                height: auto;
                min-width: 100%;
                min-height: 100%;
                transform: translate3d(-50%, -50%, 0);
                mask-image: -webkit-radial-gradient(white, black);
                backface-visibility: hidden;
                // object-fit: cover;
                // object-position: 50% 50%;
                &.loaded, &.play {
                    // display: block;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .copy {
            text-shadow: 1px 1px 10px rgba($color-gray-200, 0.4);
            .bar {
                box-shadow: 1px 1px 5px rgba($color-gray-400, 0.2);
            }
            span, strong {
                opacity: 0;
            }
            .bar {
                width: 0;
            }
            .loaded & {
                span, strong {
                    opacity: 1;
                    transition: opacity 0.9s;
                }
                span:first-of-type {
                    transition-delay: 0s;
                }
                span:nth-of-type(2) {
                    transition-delay: 1.5s;
                }
                .bar {
                    flex: 1;
                    width: auto;
                    transition: opacity 0.5s, width .5s;
                    transition-delay: 2.25s;
                }
                strong {
                    transition-delay: 2.75s;
                }
            }
        }
        // @include t-mobile {
            position: relative;
            .video-wrapper {
                // background: url($bg_url + "img_poster_01.jpg") no-repeat center;
                // background-size: cover;
            }
            .copy {
                position: absolute;
                top: 50%;
                left: 50%;
                padding: 0 30px 0 20px;
                width: 100%;
                max-width: 414px;
                color: $color-wh;
                box-sizing: border-box;
                transform: translate3d(-50%, 0, 0);
                span {
                    &:not(.bar) {
                        display: block;
                        font-size: 28px;
                        font-weight: 200;
                    }
                }
                strong {
                    display: block;
                    margin-top: 12px;
                    font-size: 30px;
                    font-weight: 300;
                    text-align: right;
                }
            }
            @media (min-aspect-ratio: 48/100) {
                .video-wrapper {
                    video {
                        max-width: 100%;
                        // height: 100%;
                    }
                }
            }
            @media (max-aspect-ratio: 48/100) {
                .video-wrapper {
                    video {
                        // max-width: 125%;
                        max-height: 100%;
                    }
                }
            }
        // }
        @include mobile {
            html[lang="en"] & {
                .copy {
                    span {
                        font-size: 20px;
                    }
                    strong {
                        font-size: 26px;
                    }
                }
            }
        }
        @media screen and (max-width: 360px) {
            html[lang="en"] & {
                .copy {
                    span {
                        font-size: 15px;
                    }
                    strong {
                        font-size: 20px;
                    }
                }
            }
        }
         
    }

    &-date {
        .description {
            p {
                & + p {
                    margin-top: 16px;
                }
            }
            
        }
        // @include t-mobile {
            .section-title {
                & > span {
                    display: block;
                }
                // span {
                //     color: $color-gray-300;
                // }
            }
            .content {
                padding-bottom: 80px;
            }
            .description {
                .head-desc {
                    font-size: 15px;
                }
            }
            .btn-area {
                display: flex;
                .btn {
                    & + .btn {
                        margin: {
                            top: 0;
                            left: 8px;
                        }
                    }
                }
            }
        // }
    }

    &-cuisine {
        background: rgba(0,0,0,0.03);
        .one {
            position: relative;
            .text-move {
                line-height: 1;
                strong {
                    font-weight: 400;
                }
                span {
                    display: block;
                }
            }
        }
        .text-move {
            overflow: hidden;
            z-index: 10;
            position: absolute;
            top: 50px;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 40px;
            // height: 100%;
            width: 100%;
            font-size: 72px;
            box-sizing: border-box;
            strong, span {
                opacity: 0;
                position: relative;
                width: auto;
                letter-spacing: -0.05em;
            }
            strong {
                left: 200px;
                font-size: 11vw;
                color: rgba($color-bk, 0.6);
            }
            span {
                top: -20px;
                right: 200px;
                font-size: 12vw;
                color: rgba($color-bk, 0.4);
                text-align: right;
            }
            // 스크롤
            &.detect {
                strong, span {
                    opacity: 1;
                    transition: left 1.3s, right 1.3s, opacity 1.3s;
                }
                strong {
                    left: 5px;
                }
                span {
                    left: auto;
                    right: 5px;
                    transition-delay: 1s;
                }
            }
            @include tablet {
                strong {
                    font-size: 60px;
                }
                span {
                    font-size: 72px;
                }
            }
            @include desktop2 {
                strong {
                    font-size: 68px;
                }
                span {
                    font-size: 80px;
                }
            }
        }
    }

    &-date {
        .benefit-list {
            .one {
                display: flex;
                align-items: center;
                gap: 24px;
                font-size: 16px;
            }
        }
        // @include t-mobile {
            padding-bottom: 60px;
            .description {
                .head-desc {
                    & + .head-desc {
                        margin-top: 0;
                    }
                }
            }
            .benefit-list {
                margin: 46px auto 0;
                ul + .title {
                    margin-top: 32px;
                }
                .one {
                    & + .one {
                        margin-top: 32px;
                    }
                }
            }
    }


}

.p-sub {
    padding-top: 130px;
}

.p-membership,
.p-book {
    display: flex;
    flex-direction: column;
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .contents {
        flex: 1;
    }
}

.swiper-wrapper {
    .swiper-slide {
        display: flex;
        align-items: center;
    }
    img {
        width: 100%;
    }
}
.swiper-backface-hidden .swiper-slide {
}