
.section-title {
    font-weight: 500;
    line-height: 1.52;
    text-transform: uppercase;
    @include t-mobile {
        font-size: 48px;
    }
    @media screen and (max-width: 320px) {
        font-size: 40px;
    } 
    @include desktop2 {
        font-size: 64px;
        color: $color-wh;
    }
    strong {
        font-weight: 500;
    }
}
.text {
    &-link {
        text-decoration: underline;
    }
    &-info {
        color: $color-gray-300;
    }
}

@mixin multiEllipse ($line: 2) {
    -webkit-line-clamp: $line;
    height: calc(1.43 * #{$line}em);
}
@for $var from 2 through 5 {
    .text-ellipsis-#{$var} {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 1.43;
        @include multiEllipse( #{$var} );
    }
}
@mixin multi-el-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.43;
    @include multiEllipse( 2 );
}
@mixin multi-el-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.43;
    @include multiEllipse( 3 );
}
