@charset "UTF-8";
html, body {
    font-size: 14px;
}
.guide-contents {
    Padding: 0 100px 100px;
}
#manu li {
    text-transform: capitalize;
}
.section {
    margin-top: 0;
    padding-top: 70px;
}
.table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.table table + .ctrl {
  margin-top: -1px;
}
.table th, .table td {
  padding: 9px 9px 7px;
  font-size: 0.85rem;
  border: 1px solid #ced4da;
}
.table th .btn, .table th .f-group .f-radio label, .table th .f-group .f-chk label, .table td .btn, .table td .f-group .f-radio label, .table td .f-group .f-chk label {
  font-size: 0.85rem;
}
.table th {
  font-weight: 400;
  background: #f8f9fa;
}
.table tbody th {
  text-align: left;
}
.table tbody .text-right {
  text-align: right;
}
.table tbody .text-right .text-left {
  text-align: left;
}
.table tbody .text-right .text-center {
  text-align: center;
}
.table tbody .text-left {
  text-align: left;
}
.table tbody .text-left .text-right {
  text-align: right;
}
.table tbody .text-left .text-center {
  text-align: center;
}
.table tbody .text-center {
  text-align: center;
}
.table tbody .text-center .text-left {
  text-align: left;
}
.table tbody .text-center .text-right {
  text-align: right;
}
.table .positive {
  background: #ecfbf1;
}
.table .negative {
  background: #ffe2e2;
}
.table .disabled * {
  color: #aeb4c6;
}
.table .ctrl {
  padding: 7px 10px;
  border: 1px solid #ced4da;
}
.table .ctrl + table {
  margin-top: -1px;
}
.table.type-hover tr:hover {
  background: #fcfcfc;
}

.table tbody:nth-of-type(even) {
    background: #fbf4f4;
}

.guide-card {
}
.guide-card-header {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px 4px 0 0;
}

.guide-card pre {
    font-size: 12px;
}

.guide-grid {}
.guide-grid .row + .row { margin-top: 20px; }
.guide-grid .row div { padding: 10px; border: 1px solid #ddd; background: #f8f8f8; }