@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, figure {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0 none;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input, select, textarea, button {
  vertical-align: middle;
  font-size: 100%;
}

button {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

fieldset, img {
  border: 0;
}

input, button {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}

input[type=radio] {
  -webkit-appearance: radio;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #fff;
}

html, body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  text-decoration: none;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

a, button {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

pre {
  white-space: pre-wrap;
}

@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Noto Serif KR"), local("NotoSerifKR-ExtraLight"), url("../fonts/NotoSerifKR-ExtraLight.woff2") format("woff2"), url("../fonts/NotoSerifKR-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Serif KR"), local("NotoSerifKR-Light"), url("../fonts/NotoSerifKR-Light.woff2") format("woff2"), url("../fonts/NotoSerifKR-Light.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif KR"), local("NotoSerifKR-Regular"), url("../fonts/NotoSerifKR-Regular.woff2") format("woff2"), url("../fonts/NotoSerifKR-Regular.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Serif KR"), local("NotoSerifKR-Medium"), url("../fonts/NotoSerifKR-Medium.woff2") format("woff2"), url("../fonts/NotoSerifKR-Medium.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif KR"), local("NotoSerifKR-Bold"), url("../fonts/NotoSerifKR-Bold.woff2") format("woff2"), url("../fonts/NotoSerifKR-Bold.woff") format("woff");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2"), url("../fonts/Jost-VariableFont_wght.woff") format("woff");
}
.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-40 {
  margin-top: 40px;
}

html, body {
  font-family: "Jost", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  line-height: 1.52;
}
@media screen and (max-width: 1279px) {
  html, body {
    font-size: 15px;
  }
}
@media screen and (max-width: 359px) {
  html, body {
    font-size: 15px;
  }
}
@media screen and (min-width: 1280px) {
  html, body {
    font-size: 20px;
  }
}

html, body, input, a, button {
  color: #1b1c1c;
}

strong {
  font-weight: 500;
}

pre {
  font-family: "Jost", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", "Malgun Gothic", "맑은 고딕", Arial, sans-serif;
  line-height: 1.87;
}

img {
  vertical-align: top;
}

.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
  color: transparent;
}

.font-serif, .section .description {
  font-family: "Noto Serif KR", "NotoSerifKR", Times, "Times New Roman", Georgia, serif;
}

.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media screen and (max-width: 1279px) {
  .btn {
    padding: 0 30px;
    height: 74px;
    font-size: 14px;
    line-height: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    padding: 0 38px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
  }
}
.btn .icon {
  margin-right: 8px;
}
.btn.disabled {
  pointer-events: none;
}
.btn-primary {
  color: #1b1c1c;
  border: 1px solid #444;
}
.btn-primary:hover {
  border-color: #1b1c1c;
}
.btn-secondary {
  color: #c50bc9;
  border: 1px solid;
  border-image-source: linear-gradient(to right, #f29f53 0%, #e51b7f 51%, #a6379b 100%);
  border-image-slice: 1;
}
.btn-secondary:hover {
  border-color: #1b1c1c;
}
.btn-tertiary {
  margin: 0 auto;
  padding: 0 84px;
  max-width: 420px;
  height: 56px;
  color: #fff;
  line-height: 56px;
  text-decoration: underline;
  background: #ff3d00;
  border-radius: 28px;
}
@media screen and (max-width: 1279px) {
  .btn-tertiary {
    font-size: 16px;
    text-decoration: none;
  }
}
.btn-underline {
  color: #aaa;
  text-decoration: underline;
}
.btn-normal {
  font-size: 13px;
  color: #999;
  border: 1px solid #999;
}
.btn-normal.b-200 {
  border-color: #444;
}
@media screen and (max-width: 1279px) {
  .btn-normal {
    padding: 0 12px;
    height: 34px;
    line-height: 34px;
  }
  .btn-normal.active-kr .kr {
    color: #1b1c1c;
  }
  .btn-normal.active-en .en {
    color: #1b1c1c;
  }
}
@media screen and (min-width: 1280px) {
  .btn-normal {
    color: #999;
  }
  .btn-normal.active-kr .kr {
    color: #fff;
  }
  .btn-normal.active-en .en {
    color: #fff;
  }
}
.p-sub .btn-normal {
  border-color: #999;
}
.btn-top {
  font-size: 14px;
}
.btn-top .icon {
  display: block;
  margin-bottom: 8px;
}

.btn-icon {
  display: inline-block;
  padding: 6px 3px;
  width: 28px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn-icon.hamberger {
  width: 36px;
  height: 34px;
}
.btn-icon.hamberger.hamberger .bar {
  position: relative;
  display: block;
  width: 20px;
  height: 1.5px;
  background: #1b1c1c;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
.btn-icon.hamberger.hamberger .bar::before, .btn-icon.hamberger.hamberger .bar::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 100%;
  background: #1b1c1c;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.btn-icon.hamberger.hamberger .bar::before {
  top: 8px;
}
.btn-icon.hamberger.hamberger .bar::after {
  top: -8px;
}
.btn-icon.hamberger.hamberger.active .bar {
  background: transparent;
}
.btn-icon.hamberger.hamberger.active .bar::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn-icon.hamberger.hamberger.active .bar::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-icon.hamberger.hamberger.active .bar::before, .btn-icon.hamberger.hamberger.active .bar::after {
  top: 0;
  background: #fff;
}

.btn-area {
  margin-top: 32px;
  text-align: center;
}
@media screen and (max-width: 1279px) {
  .btn-area .btn {
    padding: 0;
    width: 100%;
  }
  .btn-area .btn + .btn {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-area .btn + .btn {
    margin-left: 10px;
  }
}
.btn-area.fixed {
  z-index: 20;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.is-focused .btn-area.fixed {
  position: static;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.icon.top {
  width: 28px;
  height: 14px;
  background-image: url("../images/ico_top.svg");
}
.icon.benefit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  height: 24px;
}
.icon.benefit.private {
  background-image: url("../images/ico_private.svg");
}
@media screen and (max-width: 1279px) {
  .icon.benefit.private {
    -webkit-mask-image: url("../images/ico_private.svg");
            mask-image: url("../images/ico_private.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #666;
  }
}
@media screen and (min-width: 1280px) {
  .icon.benefit.private {
    -webkit-mask-image: url("../images/ico_private.svg");
            mask-image: url("../images/ico_private.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #ccc;
  }
}
.icon.benefit.corkage {
  background-image: url("../images/ico_corkage.svg");
}
@media screen and (max-width: 1279px) {
  .icon.benefit.corkage {
    -webkit-mask-image: url("../images/ico_corkage.svg");
            mask-image: url("../images/ico_corkage.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #666;
  }
}
@media screen and (min-width: 1280px) {
  .icon.benefit.corkage {
    -webkit-mask-image: url("../images/ico_corkage.svg");
            mask-image: url("../images/ico_corkage.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #ccc;
  }
}
.icon.benefit.gift {
  background-image: url("../images/ico_gift.svg");
}
@media screen and (max-width: 1279px) {
  .icon.benefit.gift {
    -webkit-mask-image: url("../images/ico_gift.svg");
            mask-image: url("../images/ico_gift.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #666;
  }
}
@media screen and (min-width: 1280px) {
  .icon.benefit.gift {
    -webkit-mask-image: url("../images/ico_gift.svg");
            mask-image: url("../images/ico_gift.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #ccc;
  }
}
.icon.benefit.event {
  background-image: url("../images/ico_event.svg");
}
@media screen and (max-width: 1279px) {
  .icon.benefit.event {
    -webkit-mask-image: url("../images/ico_event.svg");
            mask-image: url("../images/ico_event.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #666;
  }
}
@media screen and (min-width: 1280px) {
  .icon.benefit.event {
    -webkit-mask-image: url("../images/ico_event.svg");
            mask-image: url("../images/ico_event.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #ccc;
  }
}
.icon.benefit.keep {
  background-image: url("../images/ico_keep.svg");
}
@media screen and (max-width: 1279px) {
  .icon.benefit.keep {
    -webkit-mask-image: url("../images/ico_keep.svg");
            mask-image: url("../images/ico_keep.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #666;
  }
}
@media screen and (min-width: 1280px) {
  .icon.benefit.keep {
    -webkit-mask-image: url("../images/ico_keep.svg");
            mask-image: url("../images/ico_keep.svg");
    -webkit-mask-size: cover;
            mask-size: cover;
    background: #ccc;
  }
}
.icon.profile01 {
  background-image: url("../images/ico_profile01.svg");
}
@media screen and (max-width: 1279px) {
  .icon.profile01 {
    width: 80px;
    height: 80px;
    background-size: 80px auto;
  }
}
@media screen and (min-width: 1280px) {
  .icon.profile01 {
    width: 120px;
    height: 120px;
    background-size: 120px auto;
  }
}
.icon.profile02 {
  background-image: url("../images/ico_profile02.svg");
}
@media screen and (max-width: 1279px) {
  .icon.profile02 {
    width: 80px;
    height: 80px;
    background-size: 80px auto;
  }
}
@media screen and (min-width: 1280px) {
  .icon.profile02 {
    width: 120px;
    height: 120px;
    background-size: 120px auto;
  }
}
.icon.profile03 {
  background-image: url("../images/ico_profile03.svg");
}
@media screen and (max-width: 1279px) {
  .icon.profile03 {
    width: 80px;
    height: 80px;
    background-size: 80px auto;
  }
}
@media screen and (min-width: 1280px) {
  .icon.profile03 {
    width: 120px;
    height: 120px;
    background-size: 120px auto;
  }
}
.icon.partner1 {
  background-image: url("../images/ico_partner01.svg");
}
@media screen and (max-width: 1279px) {
  .icon.partner1 {
    width: 71px;
    height: 70px;
    background-size: 71px auto;
  }
}
@media screen and (min-width: 1280px) {
  .icon.partner1 {
    width: 120px;
    height: 120px;
    background-size: 120px auto;
  }
}
.icon.partner2 {
  background-image: url("../images/ico_partner02.svg");
}
@media screen and (max-width: 1279px) {
  .icon.partner2 {
    width: 71px;
    height: 70px;
    background-size: 71px auto;
  }
}
@media screen and (min-width: 1280px) {
  .icon.partner2 {
    width: 120px;
    height: 120px;
    background-size: 120px auto;
  }
}
.icon.partner3 {
  background-image: url("../images/ico_partner03.svg");
}
@media screen and (max-width: 1279px) {
  .icon.partner3 {
    width: 71px;
    height: 70px;
    background-size: 71px auto;
  }
}
@media screen and (min-width: 1280px) {
  .icon.partner3 {
    width: 120px;
    height: 120px;
    background-size: 120px auto;
  }
}
.icon.partner4 {
  background-image: url("../images/ico_partner04.svg");
}
@media screen and (max-width: 1279px) {
  .icon.partner4 {
    width: 71px;
    height: 70px;
    background-size: 71px auto;
  }
}
@media screen and (min-width: 1280px) {
  .icon.partner4 {
    width: 120px;
    height: 120px;
    background-size: 120px auto;
  }
}

.section-title {
  font-weight: 500;
  line-height: 1.52;
}
@media screen and (max-width: 1279px) {
  .section-title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 64px;
    color: #fff;
  }
}
.section-title strong {
  font-weight: 500;
}

.text-link {
  text-decoration: underline;
}
.text-info {
  color: #666;
}

.text-ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.43;
  -webkit-line-clamp: 2;
  height: calc(1.43 * 2em);
}

.text-ellipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.43;
  -webkit-line-clamp: 3;
  height: calc(1.43 * 3em);
}

.text-ellipsis-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.43;
  -webkit-line-clamp: 4;
  height: calc(1.43 * 4em);
}

.text-ellipsis-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.43;
  -webkit-line-clamp: 5;
  height: calc(1.43 * 5em);
}

.wrap {
  min-height: calc(var(--vh, 1vh) * 100);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 1280px) {
  .wrap {
    background: #111;
  }
}

.inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .menu .active a, .header .menu .router-link-exact-active {
  opacity: 1;
}
.header .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (max-width: 1279px) {
  .header .link {
    margin-top: 10px;
    height: 80px;
  }
  .header .link li + li {
    margin-left: 20px;
  }
}
.header .link li a:hover {
  background: #444;
}
.header .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 1279px) {
  .header {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  .down-scroll .header {
    opacity: 0;
    visibility: hidden;
  }
  .up-scroll .header, .header {
    opacity: 1;
    visibility: visible;
  }
  .header.scrolled {
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: background 0.35s;
    transition: background 0.35s;
  }
  .header-inner {
    z-index: 50;
    position: relative;
    padding: 0 20px 24px 24px;
    height: 130px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header h1.logo {
    position: absolute;
    left: 80px;
    right: 80px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .header h1.logo img {
    width: 96px;
    height: 75px;
  }
  .header .btn-normal {
    width: 60px;
  }
  .header .nav {
    z-index: 49;
    overflow: hidden;
    width: 36px;
  }
  .header .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
    height: 34px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header .nav-header .logo {
    opacity: 0;
    visibility: hidden;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: -40px;
    text-align: center;
  }
  .header .nav-header .logo img {
    opacity: 0.5;
    width: 96px;
    height: 75px;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  .header .nav-inner {
    opacity: 0;
    height: 0;
  }
  .header .nav.active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #1b1c1c;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  .header .nav.active .nav-header {
    padding: 0 20px 24px 24px;
    height: 130px;
  }
  .header .nav.active .nav-header .logo {
    opacity: 1;
    visibility: visible;
  }
  .header .nav.active .nav-inner {
    overflow: auto;
    opacity: 1;
    height: auto;
  }
  .header .spread {
    padding: 15px 0 25px;
    width: 100%;
    font-size: 28px;
    font-size: 1.8666666667rem;
    line-height: 1.5;
    text-align: center;
  }
  .header .spread ul + ul::before {
    content: "";
    display: block;
    margin: 32px auto 0;
    width: 140px;
    height: 1px;
    background: #666;
  }
  .header .spread li {
    margin-top: 24px;
  }
  .header .spread a {
    opacity: 0.5;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    line-height: 40px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1279px) {
  .header-inner, .header .nav.active .nav-header {
    margin: 0 auto;
    max-width: 814px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 180px;
  }
  .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 124px;
    padding-bottom: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header h1.logo {
    position: absolute;
    top: 40px;
    left: 32px;
    width: 100%;
  }
  .header h1.logo img {
    width: 78px;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .header .nav a {
    display: block;
    padding-left: 32px;
    width: 100%;
    opacity: 0.5;
    font-size: 18px;
    color: #fff;
    line-height: 1.78;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  .header .nav a:hover {
    opacity: 0.75;
  }
  .header .nav .active a {
    opacity: 1;
  }
  .header .nav .divide {
    margin-top: 40px;
  }
  .header .nav li + li {
    margin-top: 20px;
  }
  .header .btn-normal {
    padding: 0 32px;
    width: 100%;
    color: #999;
    text-align: left;
    border: none;
  }
  .header .btn-normal:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

@media screen and (min-width: 1280px) {
  .contents {
    padding-left: 102px;
  }
}
@media screen and (max-width: 1279px) {
  .p-sub:not(.p-history, .p-membership, .p-book) .contents {
    position: relative;
  }
  .p-sub:not(.p-history, .p-membership, .p-book) .contents::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 87px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 28, 28, 0)), to(#1b1c1c));
    background-image: linear-gradient(to bottom, rgba(27, 28, 28, 0) 0%, #1b1c1c 100%);
  }
}

.footer {
  color: #fff;
  background: #1b1c1c;
}
.footer a {
  color: #fff;
}
.footer-logo {
  color: #666;
}
.footer .details {
  line-height: 1.64;
}
.footer .details dt {
  color: #999;
}
.footer .copyright {
  color: #666;
}
@media screen and (max-width: 1279px) {
  .footer {
    padding: 24px 20px;
    font-size: 12px;
  }
  .footer-inner {
    margin-top: 18px;
    border-top: 1px solid #444;
  }
  .footer-logo {
    margin-top: 22px;
    font-size: 16px;
  }
  .footer .details dt {
    margin-top: 12px;
    font-size: 12px;
  }
  .footer .details dd {
    margin-top: 2px;
  }
  .footer .copyright {
    margin-top: 24px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1279px) {
  .footer-wrap {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 770px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    font-size: 14px;
  }
  .footer-wrap {
    position: relative;
    margin: 0 auto;
    padding: 24px 0;
    max-width: 970px;
  }
  .footer .btn-top {
    position: absolute;
    top: 24px;
    right: 0;
  }
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .details dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    margin-left: 80px;
  }
  .footer .details .copyright {
    margin: 16px 0 0 80px;
  }
  .footer-logo img {
    width: 77px;
    -webkit-filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(92%) contrast(88%);
            filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(92%) contrast(88%);
  }
}

@media screen and (max-width: 1279px) {
  .PC-B, .PC-IB {
    display: none;
  }
  img {
    max-width: 100%;
  }
}
@media screen and (max-width: 639px) {
  .OMO-B {
    display: block;
  }
  .MO-IB {
    display: inline-block;
  }
  .MO-B {
    display: block;
  }
  .PC-B, .PC-IB, .TA-IB, .TA-B {
    display: none !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 1279px) {
  .TA-IB {
    display: inline-block;
  }
  .TA-B {
    display: block;
  }
  .OMO-B {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .PC-IB {
    display: inline-block;
  }
  .PC-B {
    display: block;
  }
  .OMO-B, .MO-B, .MO-IB, .TA-IB, .TA-B {
    display: none !important;
  }
}
.section .description {
  font-weight: 300;
}
.section .description a {
  color: inherit;
}
@media screen and (max-width: 1279px) {
  .section-inner {
    padding: 32px 0 0;
  }
  .section .content {
    padding: 0 30px;
  }
  .section .content + .image-list {
    margin-top: 32px;
  }
  .section-title {
    line-height: 1;
  }
  .section-title span {
    display: block;
    font-size: 40px;
    color: #666;
  }
  .section .description {
    margin-top: 32px;
  }
  .section .description .head-desc {
    font-size: 16px;
  }
  .section .description .head-desc + p {
    margin-top: 16px;
  }
  .section .description p:not(.head-desc) {
    font-size: 14px;
    color: #666;
    font-weight: 300;
  }
  .section .content, .section .history-list, .section .benefit-list {
    padding: 0 30px;
  }
  .section .image-list .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 640px) and (max-width: 1279px) {
  .section .content, .section .image-list, .section .history-list, .section .benefit-list {
    margin: 0 auto;
    max-width: 770px;
    padding: 0 30px;
  }
  .section .image-list .one {
    gap: 20px;
  }
  .section .image-list .one + .one {
    margin-top: 20px;
  }
  .section .image-list .one figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(50% - 10px);
    max-width: 375px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    text-align: center;
  }
  .section .content {
    padding: 118px 0 93px;
  }
  .section .description {
    margin: 58px auto 0;
    max-width: 920px;
  }
  .section .description p {
    font-size: 14px;
    color: #aaa;
    word-break: keep-all;
  }
  .section .description p:first-child {
    margin-bottom: 24px;
    font-size: 24px;
    color: #fff;
  }
  .section .image-list {
    margin: 0 auto;
    padding-bottom: 330px;
    max-width: 1168px;
  }
  .section .image-list > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section .image-list > div + div {
    margin-top: 400px;
  }
  .section figure {
    width: 580px;
    height: 580px;
    background: rgba(255, 255, 255, 0.3);
  }
  .section figure img {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .section .image-list {
    max-width: calc(100vw - 120px - 120px);
  }
  .section figure {
    width: calc((100vw - 8px - 120px - 120px) / 2);
    height: calc((100vw - 8px - 120px - 120px) / 2);
    background: rgba(255, 255, 255, 0.3);
  }
  .section figure img {
    width: 100%;
  }
}
.section-visual .video-wrapper {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.section-visual .video-wrapper video {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.section-visual .video-wrapper video.loaded, .section-visual .video-wrapper video.play {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1279px) {
  .section-visual {
    position: relative;
  }
  .section-visual .video-wrapper {
    background: url("../images/img_poster_mo_01.jpg") no-repeat center;
  }
  .section-visual .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 30px 0 20px;
    width: 100%;
    max-width: 414px;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  .section-visual .copy span:not(.bar) {
    display: block;
    font-size: 28px;
    font-weight: 200;
  }
  .section-visual .copy strong {
    display: block;
    margin-top: 12px;
    font-size: 30px;
    font-weight: 300;
    text-align: right;
  }
}
@media screen and (max-width: 1279px) and (min-aspect-ratio: 46/100) {
  .section-visual .video-wrapper video {
    max-width: 100%;
  }
}
@media screen and (max-width: 1279px) and (max-aspect-ratio: 54/100) {
  .section-visual .video-wrapper video {
    max-height: 100%;
  }
}
@media screen and (max-width: 639px) {
  html[lang=en] .section-visual .copy span {
    font-size: 15px;
  }
  html[lang=en] .section-visual .copy strong {
    font-size: 20px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1279px) {
  .section-visual .copy {
    max-width: 600px;
  }
  .section-visual .copy span:not(.bar) {
    font-size: 28px;
    font-size: 4vw;
  }
  .section-visual .copy strong {
    font-size: 30px;
    font-size: 5vw;
  }
  html[lang=en] .section-visual .copy {
    max-width: 770px;
  }
  html[lang=en] .section-visual .copy span:not(.bar) {
    font-size: 15px;
    font-size: 3vw;
  }
  html[lang=en] .section-visual .copy strong {
    font-size: 20px;
    font-size: 4vw;
  }
}
@media screen and (min-width: 1280px) {
  .section-visual .video-wrapper {
    background: url("../images/bg_visual_pc.jpg") no-repeat center;
  }
  .section-visual .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 56px;
    width: calc(100vw - 180px);
    max-width: 1144px;
    font-size: 32px;
    color: #fff;
    font-weight: 300;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translate3d(calc(-50% + 90px), -50%, 0);
            transform: translate3d(calc(-50% + 90px), -50%, 0);
  }
  .section-visual .copy .bar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 52px;
    height: 1px;
    background: #d9d9d9;
  }
  .section-visual .copy strong {
    display: block;
    font-size: 30px;
    text-align: right;
  }
  html[lang=en] .section-visual .copy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  html[lang=en] .section-visual .copy span:not(.bar) {
    display: block;
    margin-bottom: 60px;
    width: 100%;
    font-size: 40px;
  }
  html[lang=en] .section-visual .copy .bar {
    margin: 0 10px;
    max-width: 430px;
  }
  html[lang=en] .section-visual .copy strong {
    font-size: 32px;
  }
}
.section-opnng .section-title {
  line-height: span;
  line-height-display: block;
  line-height-color: #666;
}
.section-opnng .description p + p {
  margin-top: 16px;
}
@media screen and (max-width: 1279px) {
  .section-opnng .content {
    padding-bottom: 80px;
  }
}
.section-wine .one {
  position: relative;
}
.section-wine .one .text-move {
  position: absolute;
  line-height: 1;
}
.section-wine .one .text-move strong {
  display: block;
  font-weight: 400;
}
@media screen and (max-width: 639px) {
  .section-wine .text-move {
    opacity: 0;
    overflow: hidden;
    top: -130px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    font-size: 72px;
    font-size: 19vw;
    color: #fff;
    letter-spacing: -0.05em;
    -webkit-transform: translate3d(0, 150px, 0);
            transform: translate3d(0, 150px, 0);
    -webkit-transition: opacity 1.3s, -webkit-transform 1.3s;
    transition: opacity 1.3s, -webkit-transform 1.3s;
    transition: transform 1.3s, opacity 1.3s;
    transition: transform 1.3s, opacity 1.3s, -webkit-transform 1.3s;
  }
  .section-wine .text-move strong, .section-wine .text-move span {
    position: relative;
    width: 120%;
  }
  .section-wine .text-move strong {
    left: -20px;
  }
  .section-wine .text-move span {
    right: -40px;
  }
  .section-wine .text-move.detect {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@media screen and (min-width: 640px) and (max-width: 1279px) {
  .section-wine .text-move {
    opacity: 0;
    top: -18px;
    left: 40px;
    text-align: center;
    -webkit-transform: translate3d(0, 150px, 0);
            transform: translate3d(0, 150px, 0);
    -webkit-transition: opacity 1.3s, -webkit-transform 1.3s;
    transition: opacity 1.3s, -webkit-transform 1.3s;
    transition: transform 1.3s, opacity 1.3s;
    transition: transform 1.3s, opacity 1.3s, -webkit-transform 1.3s;
  }
  .section-wine .text-move strong {
    margin-bottom: 16px;
    color: #ddd;
    font-size: 48px;
  }
  .section-wine .text-move span {
    font-size: 32px;
    color: #999;
  }
  .section-wine .text-move.detect {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@media screen and (min-width: 1280px) {
  .section-wine .text-move {
    opacity: 0;
    position: absolute;
    top: -24px;
    left: 126px;
    text-align: center;
    -webkit-transform: translate3d(0, 150px, 0);
            transform: translate3d(0, 150px, 0);
    -webkit-transition: opacity 1.3s, -webkit-transform 1.3s;
    transition: opacity 1.3s, -webkit-transform 1.3s;
    transition: transform 1.3s, opacity 1.3s;
    transition: transform 1.3s, opacity 1.3s, -webkit-transform 1.3s;
  }
  .section-wine .text-move strong {
    margin-bottom: 16px;
    color: #ddd;
    font-size: 60px;
  }
  .section-wine .text-move span {
    font-size: 48px;
    color: #999;
  }
  .section-wine .text-move.detect {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.section-cuisine .one {
  position: relative;
}
.section-cuisine .one .text-move {
  line-height: 1;
}
.section-cuisine .one .text-move strong {
  font-weight: 400;
}
.section-cuisine .one .text-move span {
  display: block;
}
@media screen and (max-width: 639px) {
  .section-cuisine .text-move {
    overflow: hidden;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 72px;
    font-size: 19vw;
  }
  .section-cuisine .text-move strong, .section-cuisine .text-move span {
    opacity: 0;
    position: relative;
    width: 120%;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: -0.05em;
  }
  .section-cuisine .text-move strong {
    left: 200px;
  }
  .section-cuisine .text-move span {
    right: 200px;
  }
  .section-cuisine .text-move.detect strong, .section-cuisine .text-move.detect span {
    opacity: 1;
    -webkit-transition: left 1.3s, right 1.3s, opacity 1.3s;
    transition: left 1.3s, right 1.3s, opacity 1.3s;
  }
  .section-cuisine .text-move.detect strong {
    left: -20px;
  }
  .section-cuisine .text-move.detect span {
    right: -40px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1279px) {
  .section-cuisine .text-move {
    overflow: hidden;
    z-index: 10;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 52px;
    width: 100%;
  }
  .section-cuisine .text-move strong, .section-cuisine .text-move span {
    opacity: 0;
    position: relative;
  }
  .section-cuisine .text-move strong {
    left: -60px;
    font-size: 32px;
  }
  .section-cuisine .text-move span {
    right: -300px;
    margin: -10px auto 0;
    width: 400px;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.5);
  }
  .section-cuisine .text-move.detect strong, .section-cuisine .text-move.detect span {
    opacity: 1;
    -webkit-transition: left 1.3s, right 1.3s, opacity 1.3s;
    transition: left 1.3s, right 1.3s, opacity 1.3s;
  }
  .section-cuisine .text-move.detect strong {
    left: 60px;
  }
  .section-cuisine .text-move.detect span {
    right: -68px;
  }
}
@media screen and (min-width: 1280px) {
  .section-cuisine .text-move {
    z-index: 10;
    position: absolute;
    bottom: -110px;
    left: 0;
    right: 0;
  }
  .section-cuisine .text-move strong, .section-cuisine .text-move span {
    position: relative;
    opacity: 0;
  }
  .section-cuisine .text-move strong {
    left: -400px;
    font-size: 32px;
    color: #ddd;
  }
  .section-cuisine .text-move span {
    right: -250px;
    margin: -10px auto 0;
    width: 400px;
    font-size: 48px;
    color: #666;
  }
  .section-cuisine .text-move.detect strong, .section-cuisine .text-move.detect span {
    opacity: 1;
    -webkit-transition: left 1.3s, right 1.3s, opacity 1.3s;
    transition: left 1.3s, right 1.3s, opacity 1.3s;
  }
  .section-cuisine .text-move.detect strong {
    left: -164px;
  }
  .section-cuisine .text-move.detect span {
    right: -68px;
  }
}
.section-history .section-title span {
  display: block;
  color: #666;
}
@media screen and (max-width: 1279px) {
  .section-history .history-list {
    margin-top: 30px;
    padding-bottom: 40px;
    font-size: 16px;
  }
  .section-history .one + .one {
    margin-top: 32px;
  }
  .section-history dd {
    margin-top: 6px;
    color: #666;
  }
  .section-history dl div + div {
    margin-top: 32px;
  }
}
@media screen and (max-width: 639px) {
  .section-history .history-list figure {
    margin-top: 16px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1279px) {
  .section-history .history-list {
    margin: 58px auto 0;
  }
  .section-history .history-list .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section-history .history-list .one + .one {
    margin-top: 48px;
  }
  .section-history .history-list figure, .section-history .history-list dl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-history .history-list dl {
    padding-left: 40px;
  }
  .section-history .history-list dl div + div {
    margin-top: 32px;
  }
  .section-history .history-list dt, .section-history .history-list dd {
    margin-top: 6px;
    line-height: 1.6;
  }
  .section-history .history-list dt {
    color: #1b1c1c;
    font-weight: 700;
  }
  .section-history .history-list dd {
    color: #666;
  }
}
@media screen and (min-width: 1280px) {
  .section-history .history-list {
    margin: 58px auto 0;
    max-width: 1168px;
    padding-bottom: 330px;
  }
  .section-history .history-list .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section-history .history-list .one + .one {
    margin-top: 100px;
  }
  .section-history dl, .section-history figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .section-history dl {
    padding-left: 80px;
    font-size: 14px;
    text-align: left;
  }
  .section-history dl div + div {
    margin-top: 60px;
  }
  .section-history dt, .section-history dd {
    margin-top: 6px;
    line-height: 1.6;
  }
  .section-history dt {
    color: #fff;
    font-weight: 700;
  }
  .section-history dd {
    color: #aaa;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .section-history .history-list {
    max-width: calc(100vw - 120px - 120px);
  }
  .section-history figure, .section-history dl {
    width: calc((100vw - 8px - 120px - 120px) / 2);
    height: calc((100vw - 8px - 120px - 120px) / 2);
  }
}
.section-membership .benefit-list .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  font-size: 14px;
}
@media screen and (max-width: 1279px) {
  .section-membership {
    padding-bottom: 60px;
  }
  .section-membership .description .head-desc + .head-desc {
    margin-top: 0;
  }
  .section-membership .benefit-list {
    margin: 46px auto 0;
  }
  .section-membership .benefit-list ul {
    margin-top: 48px;
  }
  .section-membership .benefit-list .one + .one {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .section-membership .description p:first-child {
    margin-bottom: 0;
  }
  .section-membership .description p:nth-of-type(2) {
    margin-bottom: 24px;
    font-size: 24px;
    color: #fff;
  }
  .section-membership .description p:last-of-type {
    color: #ccc;
  }
  .section-membership .benefit-list {
    margin: 58px auto 0;
    padding-left: 120px;
    padding-bottom: 262px;
    max-width: 500px;
    text-align: left;
  }
  .section-membership .benefit-list .title {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }
  .section-membership .benefit-list .one {
    margin-top: 32px;
    color: #ccc;
  }
}
@media screen and (max-width: 1279px) {
  .section-book .content {
    padding-bottom: 60px;
  }
  .section-book .btn-normal {
    margin-top: 16px;
    padding: 0 16px;
    height: 48px;
    font-size: 16px;
    color: #1b1c1c;
    line-height: 46px;
  }
  .section-book .btn-area {
    margin-top: 105px;
  }
}
@media screen and (min-width: 1280px) {
  .section-book .content {
    padding-bottom: 350px;
  }
  .section-book .btn-area {
    margin: 32px auto 0;
    width: 315px;
  }
  .section-book .btn-area .btn {
    display: block;
    width: 315px;
  }
  .section-book .btn-area .btn + .btn {
    margin-top: 32px;
  }
}
.p-sub {
  padding-top: 130px;
}

.p-membership,
.p-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-membership .container,
.p-book .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.p-membership .contents,
.p-book .contents {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}